html {
	width: 100%;
	min-width: 1240px;
	height: 100%;
	font-size: 77.6562px;
}

.login-page {
	background: url(/image/bg.png) 0% 0% / 100% 100% no-repeat;
	height: 100%;
}

.login-page>.wrapper {
	height: 100%;
}

.home-page>.wrapper {
	background: url(/image/bg.png) 0% 0% / 100% 100% no-repeat;
}

.header {
	text-align: center;
	line-height: .5rem;
	position: relative;
}

.login-page .header {
	line-height: .4rem;
}

.header .title {
	display: inline-block;
	font-size: 0.48rem;
	color: rgb(255, 255, 255);
	margin-top: 12px;
}

.header .tools {
	display: flex;
	font-size: .18rem;
	position: absolute;
	top: 10px;
	right: 3%;
}

.header .tools a {
	color: #eee;
	text-decoration: none;
	padding: 0 .16rem;
}

.header .tools a:hover {
	color: rgb(37, 206, 219);
}

.menu {
	width: 980px;
	margin: 26px auto 12px;
	height: 0.55rem;
	border-bottom: 2px solid rgb(12, 79, 157);
}

.menu .nav {
	height: 0.55rem;
	font-size: 0.2rem;
	margin: 0px;
	padding: 0px;
}

.menu .nav>li {
	margin-bottom: 0.01rem;
	float: left;
	width: 1.5rem;
	text-align: center;
	padding-left: 0.03rem;
	list-style: none;
}

.menu .nav li a {
	line-height: 0.5rem;
	cursor: pointer;
	position: relative;
	width: 90%;
	display: block;
	letter-spacing: 2px;
	text-align: center;
	color: rgb(255, 255, 255);
	text-decoration: none;
	margin: 0.08rem 0.2rem -0.02rem 0.02rem;
}

.menu .nav>li>a.active {
	background: url(/image/header_bg.png) 0% 0% / 100% 100% no-repeat;
}

.menu .nav li:hover>a {
	width: 90%;
	color: rgb(37, 206, 219);
	transform: translateX(0px);
	transition: all 1s ease 0s;
}

.menu .nav li>ul {
	display: none;
	position: absolute;
	margin-top: 0px;
	z-index: 999;
	margin-left: -0.03rem;
}

.menu .nav li:hover>ul {
	display: block;
}

.menu .nav li>ul>li {
	float: left;
	list-style: none;
	margin: 2px;
}

.menu .nav li>ul>li>a {
	width: 90%;
	line-height: 0.35rem;
	color: rgb(255, 255, 255);
	text-align: center;
	display: block;
	background: url(/image/link_bg.png) 0% 0% / 100% 100% no-repeat;
	border-top: none;
	padding: 2px 4px;
	font-size: 0.16rem;
}

.banner-box {
	width: 95%;
	height: 380px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.content-box .box-list {
	width: 1024px;
	min-height: 630px;
	margin: 0 auto 10px;
}

.banner {
	height: 380px;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.banner-slide {
	height: 380px;
	width: 100%;
	background-repeat: no-repeat;
	position: absolute;
	display: none;
}

.slide1 {
	background-image: url(/image/dyz.jpg);
	background-size: cover;
}

.slide2 {
	background-image: url(/image/dez.jpg);
	background-size: cover;
}

.slide3 {
	background-image: url(/image/dsz.jpg);
	background-size: cover;
}

.slide_active {
	display: block;
}

.button {
	position: absolute;
	width: 40px;
	height: 80px;
	top: 50%;
	margin-top: -40px;
	background: url(/image/arrow.png) center center no-repeat;
}

.prev {
	transform: rotate(180deg);
}

.next {
	left: auto;
	right: 0;
}

.button:hover {
	background-color: #333;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.dots {
	position: absolute;
	bottom: 0;
	right: 48%;
}

.dots span {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: rgba(7, 17, 27, 0.4);
	margin-left: 8px;
	line-height: 12px;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
	cursor: pointer;
}

.dots span.active {
	box-shadow: 0 0 0 2px rgba(7, 17, 27, 0.4) inset;
	background: #fff;
}

.content-box .box-list {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	color: #fff;
	flex-wrap: wrap;
}

.content-box .box-list .box {
	width: 43%;
	margin-top: .28rem;
}

.content-box .box-list .box .title {
	font-size: 0.2rem;
	background: #f5f5f517;
	height: 36px;
	padding: 0px 10px 0px 15px;
}

.content-box .box-list .box .title span {
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 0px 10px 0px 15px;
}

.content-box .box-list .box .title .more {
	float: right;
	padding-right: 2px;
}

.content-box .box-list .box .title .more a {
	text-decoration: none;
	color: #fff;
	font-size: .065rem;
	padding: 2px 6px;
	border: 1px solid #2f5d8a;
	background-color: #2f5d8a;
}

.content-box .box-list .box .title .more a:hover {
	color: rgb(37, 206, 219);
	text-decoration: underline;
}

.content-box .box-list .box .content {
	background: #f5f5f517;
	border-top: 1px solid #4fa2e252;
}

.content-box .box-list .box .content .msg-list {
	margin: 0;
	padding: 0.1rem .16rem;
}

.content-box .box-list .box .content .msg-list li {
	line-height: 30px;
	height: 30px;
	margin: 0px;
	padding: 0px;
	font-size: 0.12rem;
	list-style: none;
}

.content-box .box-list .box .content .msg-list li a {
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background: none;
	width: 76%;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
}

.content-box .box-list .box .content .msg-list li:hover a {
	color: rgb(37, 206, 219);
}

.content-box .box-list .box .content .msg-list li span {
	display: inline-block;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	position: relative;
	top: -8px;
}

.footer {
	width: 100%;
	font-size: .09rem;
	display: flex;
	flex-direction: column;
	margin-top: 24px;
}

.footer .friend-link {
	display: flex;
	width: 720px;
	margin: 12px auto 16px;
	padding-left: 106px;
	padding-top: 12px;
	border-top: 2px solid rgb(12, 79, 157);
}

.footer .friend-link .title {
	width: 146px;
	font-size: .18rem;
	font-weight: bold;
	color: #fff;
}

.footer .friend-link .links>ul {
	margin: 0;
	padding: 0;
}

.footer .friend-link .links>ul>li {
	list-style: none;
	float: left;
	border-right: 1px solid #fff;
	margin-bottom: 14px;
}

.footer .friend-link .links>ul>li:last-child {
	border: none;
}

.footer .friend-link .links>ul>li a {
	text-decoration: none;
	color: #fff;
	margin: 0 16px;
}

.footer .friend-link .links>ul>li:hover a {
	color: rgb(37, 206, 219);
	text-decoration: underline;
}

.footer .footer-content {
	margin: 0px auto;
	width: 580px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.footer .footer-content .description {
	margin-left: 34px;
	color: #fff;
}

.login-box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100% - 46px);
}

.login-box .login {
	width: 40%;
	max-width: 680px;
	/* margin-top: 14%; */
	padding: .9rem 0;
	font-size: .38rem;
	text-align: center;
	background-color: #095d945c;
	border-radius: 14px;
	border: 1px solid #ffffff1a;
	box-shadow: 0 0 0.8rem 0.08rem rgba(63, 164, 250, 0.16);
	background: url(/image/login-input-bg.png) no-repeat;
	background-size: 100% 100%;
}

.login-box .login .form-box {
	margin: 28px auto 0;
	width: 80%;
	border: 1px solid #00aeff94;
	padding: 8px 0;
	border-radius: 28px;
}

.login-box .login label {
	display: inline-block;
	width: 100px;
	text-align: center;
	color: #eee;
	font-size: 70%;
}

.login-box .login input {
	width: 60%;
	padding: 10px;
	color: #fff;
	border: none;
	background: transparent;
	font-size: 65%;
	outline: none;
}

.login-box .login input.verification-code {
	width: 45%;
}

.login-box .login .verification-code img {
	position: relative;
	top: 6px;
}

input::-webkit-input-placeholder {
	color: #bdbdbd;
}

input::-moz-placeholder {
	color: red;
}

input:-moz-placeholder {
	color: red;
}

input:-ms-input-placeholder {
	color: red;
}

.login-box .login .btn-box {
	margin-top: 28px;
}

.login-box .login .btn-box .btn {
	background-color: transparent;
	padding: 8px 8%;
	border: 1px solid #00aeff94;
	color: #eee;
	border-radius: 28px;
}

.login-box .login .btn-box .btn:hover {
	background-color: #06407ec4;
}

@media screen and (max-width: 1440px) {
	html {
		font-size: 66.4573px;
	}

	.login-box .login input.verification-code {
		width: 40%;
	}

	.login-page .header {
		line-height: .56rem;
	}
}

@media screen and (min-width: 1920px) {
	html {
		font-size: 77.6562px;
	}

	.login-page .header {
		line-height: .46rem;
	}
}